@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style: none;
}


a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.header {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 8px 8px -2px black;
    padding: 15px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.welcome {
    display: flex;
    align-items: center;
}

.account {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.modify-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.sidebar {
    background-color: #30336b;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: #dff9fb;
    display: grid;
    grid-template-rows: 100px 300px 200px;
    padding: 24px;
    font-size: 24px;
}

.sidebar li {
    margin: 15px;
}

.sidebar li a:hover {
    color: black;
}

.content {
    background-color: #DDE5ED;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 1fr;
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
    margin: 15px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.project {
    border-left: solid #ffbe76 8px;
}

.project>h1 {
    margin-bottom: 15px;
}

.project:hover {
    background-color: lightgrey;
    transition: background-color 0.2s linear;
}

.btn {
    background-color: #30336b;
    border: solid 1px #30336b;
    color: #dff9fb;
    border-radius: 4px;
    height: 50px;
    width: 1fr;
    font-size: 22px;
    font-weight: bolder;
}

.btn:hover {
    background-color: #dff9fb;
    transition: background-color 0.2s linear;
    color: #30336b;
}

.announcements-trending {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 15px; */
    display: grid;
    grid-template-rows: auto 25px 1fr;
    gap: 34px;
    margin: 15px;
}

.trending>.card {
    margin: 15px;
    height: 1fr;
}

.announcements>.card {
    display: grid;
    margin-bottom: 15px;
}

/* .announcement {
} */

.horizontal-line {
    border-top: 1px solid darkgrey;
    margin: 15px 0px 15px 0px;
}

#search {
    width: 90%;
    height: 40px;
    background-color: #DDE5ED; 
    border: none;
    border-radius: 20px;
    margin-left: 15px;
    padding-left: 15px;
}

.trender {
    padding: 15px;
}

.trender>h3 {
    margin-bottom: 10px;
}